---
title: About us
layout: yolo
---
{% extends "@Templates/default.html.twig" %}

{% block content %}
<div class="jumbotron" style="text-align: center">
    <h1>Hello world!</h1>
    <h2>This is an HTML/Twig page!</h2>
</div>
{% endblock %}
